<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/39f198be01.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
	<div class="sidebar"></div>
		<h2>Admin Sidebar</h2>
		<ul>
			<li><a href="./"><i class="fas fa-home"></i>Home</a></li>
			<li><a href="#"><i class="fas fa-columns"></i>Dashboard</a></li>
			<li><a href="./viewmember"><i class="fas fa-id-card"></i>Profile</a></li>
			<li><a href="./members"><i class="fas fa-users"></i>Church Members</a></li>
			<li><a href="./tithe"><i class="fas fa-money-check"></i>Tithe/Offering</a></li>
			<li><a href="./attendance"><i class="fas fa-table"></i>Attendance</a></li>
			<li><a href="#"></a></li>

		</ul>
</div>
<div class="main_content">
	<div class="header">Welcome!! Have a nice day</div>
	<div class="info">
		<div>lorem lorem</div>
	</div>
</div>
</body>
</html>