@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family:'Josefin Sans', sans-serif;
	
}


.main-content{
	position: relative;
	min-height: 100vh;

	}
.content-wrap{
	padding-bottom: 2.5rem;
}


